extends layout
block css
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  .site-notice react native update server
  h1(style="text-align: center;")= title
  p(style="text-align: center;") Welcome to #{title}
  .site-notice
    a.btn.btn-primary(href="/auth/login" type="button") Login